<div ng-include src="'views/header.html'"></div>

<div class="form-group">
  <input type="text" ng-model="user.name" class="form-control" placeholder="User name">
</div>

<div class="form-group">
  <input type="text" ng-model="user.email" class="form-control" placeholder="User email">
</div>

<div class="form-group">
  <input type="text" ng-model="user.password" class="form-control" placeholder="Password">
</div>

<div class="form-group">
  <input type="text" ng-model="user.repassword" class="form-control" placeholder="Repeat password">
</div>

<a class="btn btn-default" ng-click="updateUser()">Save changes</a>
